.captions{
    color: rgba(0, 174, 255, 0.76)
}
.like-counter{
        display: inline;
        padding-left: 10px;
        font-weight: 500;


}

.comments-area {
    margin-top: 10px;
  }
  
  .add-comments {
    width: 95%;
    margin-top: 10%;
  }
  
  .comments-username {
    display: inline;
    font-weight: bold;
  }
  
  .comments-item {
    display: inline;
    color: black;
  }
  
  .comments-add {
    width: 100%;
    margin-right: 10px;
  }
  .line-separator
  {
      width: 100%
  }
 